/* Added background to webpage for personalization.*/
/* html {
    background-image: url("../../assets/waterColorBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */