/* Sticky footer attributes, so that it remains fixed at bottom of page.*/
#footer {
    position: fixed;
    left: 0;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    background-color: lightpink;
    color: white;
    text-align: center;
}